<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="icon" type="image/x-icon" href="{{icon}}">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
  <div class="p-10">
  <h1 class="text-4xl ">WEATHER INFO</h1>
  <div class=" p-8">
  <form method="get" action="/weatherinfo">
    <input id="lat" type="text" name="latitude" placeholder="Latitude" required class="rounded-md shadow-sm mr-2 py-1.5 pl-3 border-2 border-gray-600 text-grey-900 placeholder:text-gray-400 bg-gray-10 sm:text-md sm:leading-6">
    <input id="lon" type="text" name="longitude" placeholder="Longitude"  required class="rounded-md shadow-sm py-1.5 pl-3 mr-2 border-2 border-gray-600 text-grey-900 placeholder:text-gray-400 bg-gray-10 sm:text-md sm:leading-6">
    <button class="rounded-md shadow-sm mr-2 py-1.5 px-3 pl-3 border-2 border-gray-600 text-gray-900 hover:bg-blue-600 hover:text-gray-50 sm:text-md sm:leading-6" type="submit">Search</button>
    <button id="current" class="rounded-md shadow-sm bg-red-500 mr-2 py-1.5 px-3 pl-3 border-2 border-gray-600 text-gray-50 hover:bg-blue-600 hover:text-gray-50 sm:text-md sm:leading-6" type="submit">Current Location</button>

  </form>
  {%block body%}{%endblock%}
</div>
</div>
</body>
</html>